body {
  font-family: "Raleway", sans-serif;
}

/* Gran Artista */

.Gran-Artista {
  background-image: url("../img/gran-artista.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

.mis-trabajos{
  background-color: rgba(18, 59, 101, 0.745) ;
}

.mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

.contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  .contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}


